@import url('https://fonts.googleapis.com/css2?family=Akira+Expanded:wght@900&family=Nexa&display=swap');

/* Variables de color */
:root {
  --verde: #227201;
  --azul-pet: #059ab0;
  --oscuro: #0b131b;
  --beige: #b2a489;
}

.home-container {
  padding: 2rem;
  font-family: 'Nexa', sans-serif;
  color: var(--oscuro);
  max-width: 900px;
  margin: 0 auto;
}

.title {
  font-family: 'Akira Expanded', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: var(--verde);
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.2rem;
  color: var(--azul-pet);
  margin-bottom: 2rem;
}
.subtitle2 {
  letter-spacing: 2px;
}

.section-title {
  font-family: 'Akira Expanded', sans-serif;
  font-weight: 900;
  color: var(--verde);
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.valores p,
.mision-vision div p,
.objetivo p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--oscuro);
  font-family: 'Nexa', sans-serif;
  color: var(--oscuro);
}

.quienesSomos {
  text-align: center;
}
.objetivo {
  text-align: center;
}
/* Para la sección misión y visión lado a lado en pantallas grandes */
.mision-vision {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.mision-vision div {
  flex: 1 1 45%;
}

.carousel {
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--beige);
  height: 400px;
}

.carousel img {
  max-height: 100%;
  width: auto;
  object-fit: none;
}
.valores ul {
  list-style-type: disc;
}

.valores li {
  font-family: 'Nexa', sans-serif;
  color: var(--oscuro);
}



/* Responsive: en pantallas chicas, todo en columna */
@media (max-width: 600px) {
  .mision-vision {
    flex-direction: column;
  }
}
