:root {
  --verde: #227201;
  --azul-pet: #059ab0;
  --oscuro: #0b131b;
  --beige: #b2a489;
}

.navbar-nav .nav-link {
  color: var(--oscuro) !important;
  letter-spacing: 1px !important;
  font-family: 'Nexa', sans-serif;
  font-style: normal;
  font-size: 0.9rem;
  text-transform: uppercase;
  line-height: 160%;
  font-weight: 600;
  transition: color 0.3s ease;
}
/* Espaciado entre los ítems del menú */
.navbar-nav .nav-item {
  margin: 0 0.55rem;
}

/* Links al hacer hover*/
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: var(--azul-pet) !important;
}

/* Botón hamburguesa (toggle) */
.navbar-toggler {
  border-color: transparent !important;
}

/* Icono hamburguesa*/
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%230B131B' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
